{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container section-container flex-center-col p-5">
    <h1 class="text-24 bold ">Create your account</h1>
    <form method="POST" class="flex-center-col" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="form-container mt-2">
            {{form}}
        </div>
        <button class="btn btn-primary my-4 py-2 px-5">Sign up</button>
    </form>
    <div class="flex-center-col ">
        <p class="text-18 m-0">Already have one?</p>
        <a href="{% url 'register' %}" class="text-12">Sign in</a>
    </div>
</div>
{% endblock %}
