{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mb-5 mx-5 py-2 flex-center-col align-c">
    <h1 class="text-36 mb-3">Book Finder</h1>
    <form class="form-inline mb-2">
        <input class="form-control searchbox " type="search" placeholder="Search" aria-label="Search">
        <div class="append flex">
            <input class="form-control mr-sm-2 mr-2 numbox" min="1" max="20" placeholder="10" id="custom1" type="number">
        </div>
        <button class="btn btn-outline-primary my-2 my-sm-0 btn-search" type="submit">Search</button>
    </form>
    <div class="spinner-border text-secondary none" role="status" style="padding: 20px; margin: 20px;">
            <span class="sr-only">Loading...</span>
          </div>
</div>

    <div class="result align-l mx-5">
        <div class="status-container none">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Writer</th>
                        <th scope="col">Pages</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Categories</th>
                        <th scope="col">Cover</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
        <p class="text-center">Nothing to show</p>
    </div>

{% endblock %}
