* {
    color: #1b1b1b;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16pt;
}

.text-big {
    font-size: 60pt;
}

.align-c {
    text-align: center;
}

.align-l{
    text-align: left;
}

.form-style {
    width: 35vw;
    padding: 8pt;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(37, 37, 37, 0.067);
}

.form-style:focus {
    outline: none;
    border-bottom: 2px solid rgba(37, 37, 37, 0.067);
}

.form-white {
    border-color: #ffffff;
}


.btn-border {
    border-radius: 0;
    padding: 12px 32px;
    border: 1px solid #1b1b1b;
}

.btn-border:hover {
    color: #f9f9f9;
    background-color: #1b1b1b;
    transition-property: width;
    transition-duration: 2s;
}

.btn-border-rev {
    border-color: #f9f9f9;
    color: #f9f9f9;
}

.btn-border-rev:hover {
    background-color: #f9f9f9;
    color: #1b1b1b;
}

.icon16 {
    width: 16pt;
    height: 16pt;
    fill: #1b1b1b;
}

.icon24 {
    width: 24pt;
    height: 24pt;
    fill: #1b1b1b;
}

.disable-margin {
    margin: 0;
}

.circle {
    background-color: aqua;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.green {
    background-color: #4c9143;
}

.red {
    background-color: #9e2222;
}

.fill-white {
    fill: #f9f9f9 !important;
}

.bg-grey{
    background-color: #ccc;
}

.flex-left {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.flex-center-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}


#foto {
    border-radius: 50%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: 700;
}

.text-36 {
    font-size: 36pt;
}

.text-24 {
    font-size: 24pt;
}

.text-18 {
    font-size: 18pt;
}

.text-12 {
    font-size: 12pt;
}

.text-navbar {
    font-size: 15pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.switch {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc !important;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white !important;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #9e2222 !important;
}

input:focus+.slider {
    box-shadow: 0 0 1px #9e2222 !important;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.none{
    display: none;
}

.accordion{
    width: 100%;
}
.title{
    cursor: pointer;   
    padding: 18px;
    border-radius: 10px;
    border: none;
    margin-bottom: 1vh;
}
.desc{
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.searchbox{
    width: 50vw !important;
}

.vr{
    border-left: 2px solid #1b1b1b;
    height: 75px;
}
.vr-white{
    border-color: #f9f9f9;
}

.numbox{
    width:65px !important;
}

.append{
    display: flex;
    margin-left: -2px !important
}

#custom1{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


