{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Brian | Story 7</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff00;">
          <p class="navbar-brand mb-0 text-navbar">BRATYU</p>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homePage:homepage' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'books:books' %}">Book Finder</a>
                </li>
              </ul>
              

              <div class="flex-left py-2 ml-auto">
                  {% if user.is_authenticated %}          
                  <a href= "{% url 'logout' %}" class="btn btn-primary py-2 px-4" style="margin-right: 20px;">Sign out</a>
                  {% else %}
                  <a href="{% url 'login' %}" class="btn btn-primary py-2 px-4" style="margin-right: 20px;">Sign in</a>
                  {% endif %}
                  <label class='switch mr-3'>
                    <input type='checkbox' id="toggle">
                    <span class="slider round"></span>
                  </label>
                  <p class="mb-2 text-12">Dark Mode</p>
              </div>
            </div>
          
      
      </nav>

      {% block content %}
    {% endblock content %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'books.js' %}"></script>
  </body>
</html>